@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }

  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}

/* third-party libraries CSS */

.tableCheckbox:checked~div span {
  @apply opacity-100;
}

.tableCheckbox:checked~div {
  @apply bg-primary border-primary;
}

.apexcharts-legend-text {
  @apply !text-body;
}

@media (prefers-color-scheme: dark) {
  .apexcharts-legend-text {
    @apply !text-bodydark;
  }
}

.apexcharts-text {
  @apply !fill-body;
}

@media (prefers-color-scheme: dark) {
  .apexcharts-text {
    @apply !fill-bodydark;
  }
}

.apexcharts-xcrosshairs {
  @apply !fill-stroke;
}

@media (prefers-color-scheme: dark) {
  .apexcharts-xcrosshairs {
    @apply !fill-strokedark;
  }
}

.apexcharts-gridline {
  @apply !stroke-stroke;
}

@media (prefers-color-scheme: dark) {
  .apexcharts-gridline {
    @apply !stroke-strokedark;
  }
}

.apexcharts-series.apexcharts-pie-series path {
  @apply !stroke-transparent;
}

.apexcharts-legend-series {
  @apply !inline-flex gap-1.5;
}

.apexcharts-tooltip.apexcharts-theme-light {
  @apply !bg-white !border-stroke;
}

@media (prefers-color-scheme: dark) {
  .apexcharts-tooltip.apexcharts-theme-light {
    @apply !bg-boxdark !border-strokedark;
  }
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  @apply !bg-transparent !border-stroke;
}

@media (prefers-color-scheme: dark) {
  .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    @apply !bg-meta-4 !border-strokedark;
  }
}

.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
  @apply !bg-white !border-stroke !text-body;
}

@media (prefers-color-scheme: dark) {

  .apexcharts-xaxistooltip,
  .apexcharts-yaxistooltip {
    @apply !bg-meta-4 !border-meta-4 !text-bodydark1;
  }
}

.apexcharts-xaxistooltip-bottom:after {
  @apply !border-b-white;
}

@media (prefers-color-scheme: dark) {
  .apexcharts-xaxistooltip-bottom:after {
    @apply !border-b-meta-4;
  }
}

.apexcharts-xaxistooltip-bottom:before {
  @apply !border-b-stroke;
}

@media (prefers-color-scheme: dark) {
  .apexcharts-xaxistooltip-bottom:before {
    @apply !border-b-meta-4;
  }
}

.flatpickr-day.selected {
  @apply bg-primary border-primary hover:bg-primary hover:border-primary;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  @apply fill-primary;
}

.flatpickr-calendar.arrowTop:before {
  @apply !border-b-white;
}

@media (prefers-color-scheme: dark) {
  .flatpickr-calendar.arrowTop:before {
    @apply !border-b-boxdark;
  }
}

.flatpickr-calendar.arrowTop:after {
  @apply !border-b-white;
}

@media (prefers-color-scheme: dark) {
  .flatpickr-calendar.arrowTop:after {
    @apply !border-b-boxdark;
  }
}

.flatpickr-calendar {
  @apply !bg-white !text-body !shadow-8 !p-6;
}

@media (prefers-color-scheme: dark) {
  .flatpickr-calendar {
    @apply !bg-boxdark !text-bodydark;
  }
}

@media (prefers-color-scheme: dark) {
  .flatpickr-calendar {
    @apply !w-auto;
  }
}

.flatpickr-day {
  @apply !text-body;
}

@media (prefers-color-scheme: dark) {
  .flatpickr-day {
    @apply !text-bodydark;
  }
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  @apply !top-7 !text-body !fill-body;
}

@media (prefers-color-scheme: dark) {

  .flatpickr-months .flatpickr-prev-month,
  .flatpickr-months .flatpickr-next-month {
    @apply !text-white !fill-white;
  }
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  @apply !left-7;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  @apply !right-7;
}

span.flatpickr-weekday,
.flatpickr-months .flatpickr-month {
  @apply !text-body !fill-body;
}

@media (prefers-color-scheme: dark) {

  span.flatpickr-weekday,
  .flatpickr-months .flatpickr-month {
    @apply !text-white !fill-white;
  }
}

.flatpickr-day.inRange {
  @apply !bg-whiter !border-whiter !shadow-7;
}

@media (prefers-color-scheme: dark) {
  .flatpickr-day.inRange {
    @apply !bg-meta-4 !border-meta-4 !shadow-7;
  }
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  @apply !text-white;
}

.map-btn .jvm-zoom-btn {
  @apply flex items-center justify-center w-7.5 h-7.5 rounded border border-stroke hover:border-primary bg-white hover:bg-primary text-body hover:text-white text-2xl leading-none px-0 pt-0 pb-0.5;
}

@media (prefers-color-scheme: dark) {
  .map-btn .jvm-zoom-btn {
    @apply border-strokedark hover:border-primary bg-meta-4 text-bodydark hover:text-white;
  }
}

.mapOne .jvm-zoom-btn {
  @apply left-auto top-auto bottom-0;
}

.mapOne .jvm-zoom-btn.jvm-zoomin {
  @apply right-10;
}

.mapOne .jvm-zoom-btn.jvm-zoomout {
  @apply right-0;
}

.mapTwo .jvm-zoom-btn {
  @apply top-auto bottom-0;
}

.mapTwo .jvm-zoom-btn.jvm-zoomin {
  @apply left-0;
}

.mapTwo .jvm-zoom-btn.jvm-zoomout {
  @apply left-10;
}

.taskCheckbox:checked~.box span {
  @apply opacity-100;
}

.taskCheckbox:checked~p {
  @apply line-through;
}

.taskCheckbox:checked~.box {
  @apply bg-primary border-primary;
}

@media (prefers-color-scheme: dark) {
  .taskCheckbox:checked~.box {
    @apply border-primary;
  }
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.custom-input-date-1::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-calendar.svg);
}

.custom-input-date-2::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-arrow-down.svg);
}

[x-cloak] {
  display: none !important;
}